/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM      250
#define HM_TAPPING_REPEAT    210

// quick tapping for shift

#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE         70

// #define BASE                   0
// #define WIN                    1
// #define LOWER                  2
// #define RAISE                  3
// #define ADJUST                 4
// #define NAVI                   5
// #define NUM                    6
// #define DEBUG                  7
// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        caps_combo {
            bindings = <&kp CAPSLOCK>;
            key-positions = <24 37>;
        };

        to_debug {
            bindings = <&to 4>;
            key-positions = <32 29>;
            layers = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp TAB           &kp Q      &kp W     &kp E     &kp R      &kp T                     &kp Y  &kp U      &kp I      &kp O     &kp P      &kp BACKSPACE
&mt LCTRL ESCAPE  &kp A      &kp S     &kp D     &kp F      &kp G                     &kp H  &kp J      &kp K      &kp L     &kp SEMI   &kp ENTER
&kp LSHFT         &kp Z      &kp X     &kp C     &kp V      &kp B  &kp K_MUTE  &none  &kp N  &kp M      &kp COMMA  &kp DOT   &kp FSLH   &kp RSHFT
&none             &kp LCTRL  &kp LALT  &kp LGUI  &kp SPACE  &mo 1                     &mo 2  &kp SPACE  &mo 3      &kp RALT  &kp RCTRL  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        Num_layer {
            display-name = "Number";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS     &kp EQUAL  &kp DELETE
&trans  &trans  &trans  &trans  &trans  &trans                  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS  &none      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS      &none      &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &to 0         &kp NUMBER_0  &trans        &trans        &trans     &kp N1
            >;
        };

        Nav_layer {
            display-name = "Nav";
            bindings = <
&kp F12  &kp F1      &kp F2           &kp F3  &kp F4  &kp F5                  &kp F6          &kp F7     &kp F8     &kp F9    &kp F10   &kp F11
&trans   &kp INSERT  &kp PRINTSCREEN  &trans  &trans  &trans                  &kp HOME        &kp PG_DN  &kp PG_UP  &kp END   &kp UP    &trans
&trans   &trans      &trans           &trans  &trans  &trans  &trans  &trans  &kp KP_NUMLOCK  &trans     &trans     &kp LEFT  &kp DOWN  &kp RIGHT
&trans   &trans      &trans           &trans  &trans  &trans                  &to 0           &trans     &trans     &trans    &trans    &kp N2
            >;
        };

        Symbol_layer {
            display-name = "Symbols";

            // TODO: Some binds are waiting for shifted keycode support.
            // -------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8      &kp NUMBER_9       &kp NUMBER_0   &kp DELETE
&trans     &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT                     &kp CARET     &kp AMPS      &kp ASTRK         &kp LPAR           &kp RPAR       &kp SINGLE_QUOTE
&trans     &trans        &trans        &trans        &trans        &trans        &trans  &trans  &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
&trans     &trans        &trans        &trans        &trans        &trans                        &to 0         &trans        &trans            &trans             &trans         &kp N3
            >;
        };

        Debug_layer {
            display-name = "Debug";

            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | BTCLR | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            bindings = <
&bt BT_CLR    &none   &none   &none   &bt BT_CLR_ALL  &none                        &none        &none   &none   &none   &none   &none
&bt BT_SEL 0  &none   &none   &none   &none           &none                        &none        &none   &none   &none   &none   &none
&bt BT_SEL 1  &none   &none   &none   &none           &bootloader  &trans  &trans  &bootloader  &none   &none   &none   &none   &none
&bt BT_SEL 2  &trans  &trans  &trans  &trans          &trans                       &to 0        &trans  &trans  &trans  &trans  &kp N4
            >;
        };
    };
};
